@import '../../../colors'
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Press+Start+2P&display=swap')

$arcade: 'Press Start 2P', serif 

.navbar
  width: 100%
  background-color: $dark-bg 
  // margin: auto
  padding: 20px
  box-sizing: border-box // keeps padding from increasing width of the div!
  color: white
  font-family: $arcade 

.navbar p
  // border: 2px solid white // debugging centering
  margin: auto
  width: 20%
  text-align: center
  font-size: 36px

.high-score
  position: absolute
  right: 50px
