@import '../../_colors'

.layout-container
  background-color: $dark-bg
  height: 100vh

.layout-container p
  margin: auto
  text-align: center
  // border: 2px solid white
  width: 50%
  color: white
  font-family: 'Press Start 2P'
  font-size: 15px